/* Center the h1 element */
h1 {
  text-align: center;
  color: blue;
}

h3 {
  text-align: center;
  color: white;
  margin: 0;
}

/* Style the ul element */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

/* Style the li elements */
li {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  background-color: blue;
}

/* Style the h2 elements */
h2 {
  margin: 0;
 
  color: black;
}

/* Style the label elements */
label {
  display: block;
  margin-top: 10px;
  
}

/* Style the input elements */
input {
  margin-bottom: 10px;

}

/* Style the button element */
button {
  display: block;
  margin-top: 10px;
  background-color: blue;
  color: white ;
}
